<h2>random hex58: <%= @random_text %></h2>
<h2>total site visits: <%= @total_visits %></h2>
<h2>your visits: <%= @your_visits %></h2>

<p>My karin:</p>
<p>
  <%= image_tag "nya.png", width: 2560  %>
</p>