<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>sharamall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag  %>
  </head>

  <body>
    <h1>sharamall's website</h1>
    <%= yield %>
  </body>
</html>
